extends baseEmail

block content
    p Hi #{firstName},
    p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}.
    p ( Website for this action not yet implemented)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset your password
    p If you didn't forget your password, please ignore this email!
    p.text-name
    | Our Customer Experience team is available from 9am-11pm GMT Monday to Friday. Our phone lines
    | continue to be suspended due to the current restrictions in place. For any questions, advice
    | or help with orders please email us and we&rsquo;ll get back to you as soon as possible.

