footer.footer
    .footer-content
        nav.nav-footer
            .nav-footer-title-top
                span.plus.added +
                .contact
                    svg.house-icon-footer
                        use(href='/img/sprite1.svg#icon-phone')
                    p.tel
                        | 02033443344
            ul.nav-footer-links.icons-footer-links.footerHide1
                li
                    a(href='/')
                        svg.house-icon-footer
                            use(href='/img/sprite1.svg#icon-facebook')
                li
                    a(href='/')
                        svg.house-icon-footer
                            use(href='/img/sprite1.svg#icon-twitter')
                li
                    a(href='/')
                        svg.house-icon-footer
                            use(href='/img/sprite1.svg#icon-instagram')
        nav.nav-footer
            .nav-footer-title-top
                span.plus1.added1 +
                p.tel SELL WITH NEXERTY
                ul.nav-footer-links.footer1.footerHide1
                    li
                        a(href='/how-it-works') How it works
                    li
                        a(href='/for-sale') Homes for sale
        nav.nav-footer
            .nav-footer-title-top
                span.plus2.added2 +   
                p.tel FEATURES
                ul.nav-footer-links.footer2.footerHide1
                    li
                        a(href='/') Our local agents
                    li
                        a(href='/') Smart sale
                    li
                        a(href='/') Buying agent
                    li
                        a(href='/') Move home chain-free
        nav.nav-footer
            .nav-footer-title-top
                span.plus3.added3 +   
                p.tel ABOUT NEXERTY
                ul.nav-footer-links.footer3.footerHide1
                    li
                        a(href='') About Us
                    li
                        a(href='') Location
                    li
                        a(href='') Carrier
                    li
                        a(href='') Refer a friend
                    li
                        a(href='') FAQs
                    li
                        a(href='') Location
footer.footer
    .footer-content.footer-content-bar
        nav.nav-footer
            .nav-footer-title-top

            ul.nav-footer-links.icons-footer-links
                li
                    a(href='/') Privacy  
                        
                li
                    a(href='/') policyTerms©
                       
                li
                    a(href='/') Nexerty Ltd.

        nav.nav-footer
            .nav-footer-title-top
                p.tel The legal stuff
                ul.nav-footer-links
                    li
                        a(href='/') 
                            | Nexerty Ltd, company registration
                            br
                            |  number 674590622.
                    li
                        a(href='/') 
                            | Nexerty is a member of The Property
                            br 
                            | Built for Web and is authorised 
                            br
                            | and regulated by the Financial
                            br
                            | Conduct Authority (No. 000000).

        nav.nav-footer
            .nav-footer-title-top
                p.tel  Nexerty ltd,
                ul.nav-footer-links
                    li
                        a(href='') 14 Naval Row London E149NY
                    li
                        a(href='') help@nexerty.com
                    li
                        a(href='') 
                            | By continuing your visit 
                            br
                            | to this site, you agree 
                            br
                            | to the use of cookies.

    //- .copy-title
    //-     .copy-title-content
    //-         img.footer-logo(src='/img/unsorted/nexerty.png' alt='logo small')
    //-         p
    //-             | &copy; Copyright by Dario Amade 
    //-             br
