extends base

block content
    .get-started
        .get-started-content
            .get-started-content-wrapper
                ul.header-nav__list
                    svg.icon-book.icon-book-color
                        use(href='/img/sprite1.svg#icon-arrow_left')
                    li.header-nav__list-item
                        a.nav__link(href='/') back
                p.heading-2 How can we help?
                .btn-stuffs
                    a(href='/get-started/email')
                        p.heading-2  Speak to an agent 
                    svg.icon-book
                        use(href='/img/sprite2.svg#icon-chevron-thin-right')
                .btn-stuffs
                    a(href='/get-started/calendar')
                        p.heading-2 Book a valuation
                    svg.icon-book
                        use(href='/img/sprite2.svg#icon-chevron-thin-right')
                //- .btn-stuffs
                //-     a(href='/get-started/calendar')
                //-         p.heading-2 Speak to an agent Something else
                //-     svg.icon-book
                //-         use(href='/img/sprite2.svg#icon-chevron-thin-right')