extends base

block content
    section.section-2
        .home-intro
            .home-intro-title
                p.heading-sub HOW IT WORKS
                h1.heading-1 The estate agent built for home movers
                p.text-plain.

                    From first contact to moving day, Nexerty is the only estate agent that manages your sale, purchase and chain in one place..
            .home-intro-video
    .testimonial
        .testimonial-content
            .testimonial-img
                img.testimonial-image(src='/img/users/user-4.jpg' alt='user img')
                span
                    | Monica,
                    p Braga
            .testimonial-descrisption
                span.quote “
                p.text-plain.
                    I can't recommend Nexerty enough. They were extremely professional and had a clear plan for attracting maximum interest for our property. They went above and beyond to make sure we got our dream home! 
    section.how-it-work
        .how-it-work-content
            .top-section
                h1.heading-1 What to expect when you sell with Nexerty
            .timeline
                .line
                .section.show-me
                    .bead
                    .content
                        .content-left
                            span 01
                            p.heading-1 Getting to know you
                            p.text-plain.

                                Your journey begins with a no-obligation visit from your local Nexerty agent. They will learn what you’re hoping to achieve from your sale, where you’re planning to move to and will share a digital property report of your home.

                            a(href='#') Book your free valuation
                        .content-right
                            .content-right-img
                                img.image-move(src='/img/img/buss.jpg' alt)
                .section.show-me
                    .bead
                    .content
                        .content-left.left-space.orderOne1
                            span    02
                            p.heading-1 Going on the market
                            p.text-plain.

                                When you're ready, we'll send a professional to your home to take photos and prepare a floor plan. Your local agent will craft a compelling description of your home and launch your listing on sites like RightMove and Zoopla.
                                We list onZooplaandrightmove

                            a(href='#') Book your free valuation
                        .content-right.orderZero1
                            .content-right-img
                                img.image-move(src='/img/img/market.jpg' alt)
                .section.show-me
                    .bead
                    .content
                        .content-left
                            span 03
                            p.heading-1 Your smart sale
                            p.text-plain.

                                Stay informed during your sale with a smart online dashboard that keeps track of interested buyers. We can even predict how likely you are to receive offers at your asking price. Meanwhile, our expert agents will be finding great buyers and negotiating the best price on your behalf.

                            a(href='#')  Your smart sale
                        .content-right
                            .content-right-img
                                img.image-move(src='/img/img/sl.jpg' alt)
                .section.show-me
                    .bead
                    .content
                        .content-left.left-space.orderOne1
                            span 04
                            p.heading-1 Don't overpay for your new home
                            p.text-plain.

                                Unlike other estate agents, we help you with the home you're buying too. Your dedicated Buying Agent is on hand to accurately value the homes you're interested in and use their negotiation experience to save you thousands. On average, we help our customers save £24,200 off their new home.

                            a(href='#') More about buying agent 
                        .content-right
                            .content-right-img.orderZero1
                                img.image-move(src='/img/img/home.jpg' alt)
                .section.show-me
                    .bead
                    .content
                        .content-left.orderZero
                            span 05
                            p.heading-1 Move home chain-free
                            p.text-plain.

                                If you have a deadline for moving, we can even give you the money to buy the new home before your old one is sold. That means you can buy your new home while we take care of your sale.

                            a(href='#') More about moving chain-free 
                        .content-right
                            .content-right-img.orderOne
                                img.image-move(src='/img/img/mov.jpg' alt)
                .section.show-me
                    .bead
                    .content
                        .content-left.orderOne1
                            span 06
                            p.heading-1    We manage your chain
                            p.text-plain.

                                Our dedicated chain management specialists will handle the progression of your sale, liaising with the buyers and sellers in your chain to orchestrate a completion date that works with your timeline.

                        .content-right
                            .content-right-img.orderZero1
                                img.image-move(src='/img/img/mag.jpg' alt)
                .section.show-me
                    .bead
                    .content
                        .content-left.left-space.orderZero
                            span 07
                            p.heading-1    And relax
                            p.text-plain.

                                You will have an experienced team supporting you from the day you get in touch to the day you are settled into your new home.

                        .content-right
                            .content-right-img.orderOne
                                img.image-move(src='/img/img/relax.jpg' alt)
    section.get-touch-container
        .get-touch
            p.heading-1 
                | Get in touch to book your free valuation
            p.text-plain
                Your Local expert will be in touch to discuss your home sale and find a time for us to provide a free, no-obligation valuation.
        form.Bookend___StyledForm-mzh7pm-5.kgWqFc
        .AddressPicker___StyledDiv-sc-25res2-3.fWKpgE(role='combobox' aria-expanded='true' aria-haspopup='listbox' aria-labelledby='downshift-581-label' aria-owns='downshift-0-menu')
            input#downshift-581-input.TextInput___StyledInput-sc-12n7u1z-1.euvAas(type='text' data-test='bookend-address' name='bookend-address' placeholder='Enter postcode' aria-autocomplete='list' aria-labelledby='downshift-581-label' autocomplete='off' aria-controls='downshift-0-menu')
            .AddressPicker___StyledDiv2-sc-25res2-6.cdEHHT
            button.Button__ButtonWrapper-zghgcj-0.Button___StyledButtonWrapper-zghgcj-2.kDNxOg.AddressPicker___StyledButton-sc-25res2-7.giNAuH(data-test='address-picker-submit-button' disabled) Get started
    section.section-reviews
        .reviews
            .reviews__card
                p.reviews__text.

                    “ The UK property market process is archaic, but with Nexerty you remove uncertainty, know your options from the start, and can move on with your life rather than your life being on pause until the stress of selling is over. Thank you to everyone at Nexerty! ”

                .reviews__avatar
                    img.reviews__avatar-img(src='/img/users/user-2.jpg' alt='Lourdes Browning')
                    h6.reviews__user Lourdes Browning
                .reviews__rating
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--inactive
                        use(href='/img/sprite1.svg#icon-star-empty')
            .reviews__card
                .reviews__avatar
                    img.reviews__avatar-img(src='/img/users/user-3.jpg' alt='Sophie Louise Hart')
                    h6.reviews__user Sophie Louise Hart
                p.reviews__text.

                    “ From our first meeting they were supportive and responsive to our needs. We felt we were in safe hands. The house received 11 offers and we were delighted with the service provided. I would definitely recommend the Nexerty team. ”

                .reviews__rating
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--inactive
                        use(href='/img/sprite1.svg#icon-star-empty')
            .reviews__card
                .reviews__avatar
                    img.reviews__avatar-img(src='/img/users/user-9.jpg' alt='Cristian Vega')
                    h6.reviews__user Cristian Vega
                p.reviews__text.

                    ” Great service, great people. Everyone I spoke to and dealt with offered a great value, consistent and professional service. The level of data they provide on both your own home and the one you want to buy is great and invaluable. ”

                .reviews__rating
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--inactive
                        use(href='/img/sprite1.svg#icon-star-empty')
            .reviews__card
                .reviews__avatar
                    img.reviews__avatar-img(src='/img/users/user-14.jpg' alt='Laura Sarah Wilson')
                    h6.reviews__user Laura Sarah Wilson
                p.reviews__text.

                    ” Great service, great people. Everyone I spoke to and dealt with offered a great value, consistent and professional service. The level of data they provide on both your own home and the one you want to buy is great and invaluable. ”

                .reviews__rating
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--inactive
                        use(href='/img/sprite1.svg#icon-star-empty')
            .reviews__card
                .reviews__avatar
                    img.reviews__avatar-img(src='/img/users/user-15.jpg' alt='Max Smith')
                    h6.reviews__user Max Smith
                p.reviews__text.

                    ” Nexerty were simply excellent. They worked incredibly hard to get us a buyer, and even secured us a sale at asking price. They helped us manage a tricky purchase, and a challenging sale process, and made sure everything was as smooth as possible. ”

                .reviews__rating
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--inactive
                        use(href='/img/sprite1.svg#icon-star-empty')
            .reviews__card
                .reviews__avatar
                    img.reviews__avatar-img(src='/img/users/user-19.jpg' alt='John Riley')
                    h6.reviews__user John Riley
                p.reviews__text.

                    ” I really couldn't recommend Nexerty more as Estate Agents. They were extremely attentive at looking at the market to make sure our flat was being seen. No hidden costs or nasty surprises and a friendly team who we trusted every step of the way. ”

                .reviews__rating
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--active
                        use(href='/img/sprite1.svg#icon-star-empty')
                    svg.reviews__star.reviews__star--inactive
                        use(href='/img/sprite1.svg#icon-star-empty')
                    //-   .rated
                    //-     p Rated excellent by sellers on
                    //-     img(src='/img/img/trustpilot-1.svg' alt)

